[submodule "Year 3/SEM 2/Application Development/GroupProject_TVETMARA"]
	path = Year 3/SEM 2/Application Development/GroupProject_TVETMARA
	url = https://github.com/lauyankai/tvetmara
[submodule "KADA_Project"]
	path = KADA_Project
	url = https://github.com/Elijah0413/KADA
